@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

// Side Menu

.sideMenu {
  position: fixed;
  z-index: 1000000;
  top: 0;
  right: 0;
  width: 7.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  .hamburgerMenu {
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .closeMenu {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 30px;
        }

        &:hover {
          cursor: pointer;
          background-color: darken(white, 15%);
          transition: background-color 0.1s;
        }
      }

      ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        height: max-content;

        .circle {
          z-index: 3;
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: white;
          box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.25);
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            cursor: pointer;
            border: 2px solid rgba(0, 0, 0, 0.3);
            background-color: darken(white, 10%);
            transition: background-color 0.1s;
          }

          img {
            z-index: 3;
            width: 30px;
          }
        }
      }
    }

    .hamburger {
      width: 60px;
      position: absolute;
      height: 60px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background-color: darken(white, 15%);
        transition: background-color 0.1s;
      }
    }
  }

  .backToTop {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 30px;
    }

    &:hover {
      cursor: pointer;
      background-color: darken(white, 15%);
      transition: background-color 0.1s;
    }
  }
}

// Home Section

.landing {
  margin: 0;
  padding: 0;
  background-image: url("../public/background/free-mountain-vector-24.jpg");
  background-size: cover;
  height: 60.5rem;
  position: relative;

  .scrollDown {
    height: 50px;
    width: 35px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }

  .scrollDown::before,
  .scrollDown::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid rgb(255, 255, 255);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scrollDown::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }

  .hidden {
    animation-name: fadeout;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .home {
    display: flex;
    background: none;
    flex-direction: column;
    height: 45rem;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;

    span {
      font-size: 5rem;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
    }

    h1 {
      font-size: 5rem;
      margin: 0;
    }

    p {
      margin: 1rem;
      font-size: 2rem;
    }
  }

  .header {
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
    text-align: center;
    line-height: 40px;

    .navbar {
      display: flex;
      width: 100%;
      align-items: center;
      height: 5rem;
      color: white;
      padding-top: 3rem;
      padding-inline: 7rem;
      justify-content: space-between;
      font-family: Poppins, sans-serif;
      font-size: 1.5rem;

      .socials {
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0;

        li {
          padding-inline: 1rem;
        }
      }

      h2 {
        margin: 0;
        width: 216px;

        a {
          text-decoration: none;
          color: white;
        }
      }

      .buttons {
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0;

        li {
          padding-inline: 1.5rem;
        }

        a {
          text-decoration: none;
          color: inherit;
          padding-bottom: 1rem;

          &:hover {
            border-bottom: solid white;
          }
        }
      }
    }
  }
}

// About Section

.about {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  padding-top: 3rem;
  height: 60rem;
  align-items: center;
  background-color: #2196ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1040' height='650' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1223%26quot%3b)' fill='none'%3e%3crect width='1440' height='1080' x='0' y='0' fill='rgba(0%2c 141%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c512.936C94.334%2c506.016%2c159.325%2c421.851%2c243.941%2c379.58C341.931%2c330.628%2c471.456%2c333.173%2c536.403%2c244.967C603.53%2c153.8%2c596.109%2c28.539%2c585.402%2c-84.168C574.299%2c-201.049%2c551.436%2c-322.472%2c474.105%2c-410.814C396.927%2c-498.981%2c281.977%2c-550.615%2c165.548%2c-563.804C58.129%2c-575.973%2c-41.011%2c-521.386%2c-141.089%2c-480.505C-231.32%2c-443.647%2c-318.997%2c-404.865%2c-389.163%2c-337.212C-464.312%2c-264.755%2c-536.27%2c-182.426%2c-556.467%2c-80.008C-577.116%2c24.698%2c-554.312%2c136.375%2c-500.761%2c228.69C-449.645%2c316.808%2c-356.672%2c366.85%2c-268.079%2c417.138C-183.848%2c464.95%2c-96.595%2c520.022%2c0%2c512.936' fill='%23005ca6'%3e%3c/path%3e%3cpath d='M1440 1571.343C1529.545 1549.5230000000001 1561.945 1439.554 1634.762 1383.056 1698.488 1333.6109999999999 1802.101 1333.962 1838.629 1262.048 1875.176 1190.097 1826.421 1105.962 1816.166 1025.915 1805.717 944.3530000000001 1818.721 858.617 1777.807 787.289 1732.624 708.519 1667.213 626.7 1577.866 610.472 1489.002 594.332 1409.936 663.606 1330.181 705.99 1265.302 740.469 1212.531 786.809 1156.538 834.379 1089.605 891.2429999999999 990.701 927.116 969.5609999999999 1012.361 948.4010000000001 1097.683 1017.544 1176.333 1051.6399999999999 1257.358 1086.917 1341.19 1102.182 1438.417 1172.91 1495.6 1246.3609999999999 1554.984 1348.231 1593.705 1440 1571.343' fill='%2359b5ff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1223'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding-inline: 10rem;

  .split {
    display: flex;
    flex-direction: row;
    padding-top: 7rem;
    justify-content: center;
  }

  h1 {
    font-family: Manrope;
    font-size: 4.5rem;
    margin-bottom: 0;
    padding-inline: 5rem;
    text-align: center;
  }

  p {
    font-size: 1.25rem;
    font-family: Poppins;
    line-height: 3rem;
    padding-inline: 5rem;
    text-align: center;
  }

  .btn {
    margin-top: 5rem;
    margin-inline: 5rem;
    padding-bottom: 5rem;
    border-bottom: solid 1px white;
    text-align: center;
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      padding: 0.6em 1.7em;
      border: 0.1em solid #ffffff;
      margin: 0 0.3em 0.3em 0;
      border-radius: 0.12em;
      box-sizing: border-box;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1.5rem;
      color: #ffffff;
      text-align: center;
      transition: all 0.2s;

      &:hover {
        color: #000000;
        background-color: #ffffff;
      }
    }
  }
}

// Skills Section

.technologies {
  background-color: #008dff;
  height: 55rem;
  display: flex;
  padding-top: 1rem;
  position: relative;
  justify-content: center;

  h1 {
    margin: 0;
    height: max-content;
    padding-inline: 5rem;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 52px;
    border-bottom: 1px solid white;
  }

  svg {
    position: absolute;
    bottom: -40px;
    border: none;
  }

  .avatar {
    position: absolute;
    bottom: -80px;
    width: 650px;
  }
}

.projects {
  position: relative;
  z-index: 10000;
  height: 62.5rem;
  background-color: #0c375e;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);

  .line {
    position: absolute;
    height: 90%;
    width: 1px;
    top: 5%;
    left: 2.5%;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
  }
}

.contact {
  height: 62.5rem;
  background-image: url("../public/images/BackgroundContact.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;

  h1 {
    margin: 0;
    height: max-content;
    padding-inline: 5rem;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 46px;
    border-bottom: 1px solid white;
    margin-bottom: 5rem;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left {
    svg {
      height: 50%;
    }

    padding-right: 5rem;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      width: 45rem;
      justify-content: space-between;

      button {
        outline: none;
        border: 1px solid white;
        background-color: white;
        font-size: 24px;
        width: 35%;
        height: 4rem;
        margin-left: 1px;
        font-family: "Poppins", sans-serif;
        margin-top: 1.5rem;
        border: 1px solid white;
        box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.3);

        &:hover {
          cursor: pointer;
          background-color: darken(white, 15%);
          border-color: darken(white, 15%);
          transition: background-color 0.1s;
        }
      }

      label {
        color: white;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        padding-bottom: 0.5rem;
        padding-inline: 0.5rem;
      }

      input {
        width: 100%;
        padding: 1rem;
        padding-inline: 0.75rem;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 1);
        background-color: white;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
      }

      textarea {
        resize: none;
        width: 100%;
        height: 15rem;
        outline: none;
        font-size: 18px;
        padding: 0.75rem;
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
        font-family: "Poppins", sans-serif;
      }

      .row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
      }

      .col {
        display: flex;
        flex-direction: column;
        width: 47.5%;
      }
    }
  }
}
