.projects {
    position: relative;
    z-index: 10000;
    height: 62.5rem;
    background-color: #0c375e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);
  
    .line {
      position: absolute;
      height: 90%;
      width: 1px;
      top: 5%;
      left: 2.5%;
      background-color: white;
      box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
    }
  }