.technologies {
    background-color: #008dff;
    height: 55rem;
    display: flex;
    padding-top: 1rem;
    position: relative;
    justify-content: center;
  
    h1 {
      margin: 0;
      height: max-content;
      padding-inline: 5rem;
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: lighter;
      font-size: 52px;
      border-bottom: 1px solid white;
    }
  
    svg {
      position: absolute;
      bottom: -40px;
      border: none;
    }
  
    .avatar {
      position: absolute;
      bottom: -80px;
      width: 650px;
    }
  }

@media only screen and (max-width: 1000px){

  .technologies{

    svg {
      bottom: -60px !important;
    }
  }

  .avatar {
    width: 550px !important;
  }
}

@media only screen and (max-width: 800px){

  .technologies{
    height: 50rem !important;
  }
}

@media only screen and (max-width: 400px){

  .technologies{

    h1 {
      font-size: 2.5rem !important;
      padding-inline: 2.5rem !important;
    }
  }
}